---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CSS Gallery Columns Demo">
    <main>
	<section class="gallery">
	    <img src="/VTubers/Fubuki.webp" alt="Fubuki" loading="lazy" />
	    <img src="/VTubers/Koyori.webp" alt="Koyori" loading="lazy" />
	    <img src="/VTubers/HoloLive.webp" alt="HoloLive" loading="lazy" />
	    <img src="/VTubers/HoloLive2.webp" alt="HoloLive" loading="lazy" />
	    <img src="/VTubers/ShionMurasaki.webp" alt="Shion Murasaki" loading="lazy" />
	    <img src="/VTubers/FuwaMoco.webp" alt="FuwaMoco" loading="lazy" />
	    <img src="/VTubers/Nijisanji.webp" alt="Nijisanji" loading="lazy" />
	    <img src="/VTubers/MitoTsukino.webp" alt="Mito Tsukino" loading="lazy" />
	    <img src="/VTubers/SaraHoshikawa.webp" alt="Sara Hoshikawa" loading="lazy" />
	    <img src="/VTubers/AliceMononobe.webp" alt="Alice Mononobe" loading="lazy" />
	    <img src="/VTubers/VSPO.webp" alt="VSPO" loading="lazy" />
	    <img src="/VTubers/QpiKaminari.webp" alt="Qpi Kaminari" loading="lazy" />
	    <img src="/VTubers/TsunaNekota.webp" alt="Tsuna Nekota" loading="lazy" />
	    <img src="/VTubers/TsunaNekota2.webp" alt="Tsuna Nekota" loading="lazy" />
	</section>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	img {
	    width: 100%;
	    border-radius: 1rem;
	}

	.gallery {
	    columns: 300px;
	} 
</style>
